body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(./steak.jpg); 
    background-size: cover;
}

#content {
    margin: 0;
    height: 100%;
    width: 100%;
}

#headline {
    padding: 30px;
    height: 70px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 40px;
}

#nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
}

button {
    cursor: pointer;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
}

#container {
    padding: 100px;
    display: flex;
    justify-content: center;

}

#page {
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 600px;
    width: 600px;
    color: white;

}



#ad {
    font-size: 25px;
}

#menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-items: center;
}


img.menu {
    width: 230px;
    height: 230px;
}